/[Tt]est.php
/log.txt
cons.txt

main

## Android ##
android/*.apk
android/*.ap_
android/*.dex
android/*.class
android/bin/
android/gen/
android/build/
android/local.properties
android/proguard/
android/*.log
android/*.pydevproject
android/.metadata
android/.gradle
android/tmp/
android/*.tmp
android/*.bak
android/*.swp
android/*~.nib
android/.settings/
android/.loadpath
android/.externalToolBuilders/
android/*.launch
android/.cproject
android/.buildpath
android/.target
android/.texlipse