div#loading_panel{
    display: none;
    position: fixed;
    width: 26px;
    height: 20px;
    left: 45px; bottom: 55px;
    background-color: rgba(20,20,20,0.7);
    box-shadow:0 0 4px 1px rgba(20,20,20,0.8);
    border: 5px solid rgba(255,255,255,0);
    z-index: 20;
}

div.loading{
    position:absolute;
    margin:0;
    bottom:0;
    background-color:white;
    width:8px;
    height:10px;
    bottom:5px;
    border-radius: 3px;
    /*animation-timing-function: linear;/**/
    animation-duration: 1s;
    animation-name: firstBar;
    animation-iteration-count: infinite;
    animation-play-state: paused; /*paused*/
    /*animation-direction: reverse;*/ /*alternate*/
}

div#loadingBar1.loading {
    left:0;
    animation-delay: 0s;
}

div#loadingBar2.loading {
    left:9px;
    animation-delay: 0.15s;
}

div#loadingBar3.loading {
    left:18px;
    animation-delay: 0.3s;
}


@keyframes firstBar {
    0%   {height:10px;bottom:5px;opacity:0;}
    40%  {height:20px;bottom:0;opacity:1;}
    80%  {height:10px;bottom:5px;opacity:0;}
    100%  {height:10px;bottom:5px;opacity:0;}
}