div#loading_panel{
    display: none;
    position: fixed;
    width: 31px;
    height: 31px;
    left: 18px; bottom: 18px;
    background-color: rgba(255,255,255,0.3);
    border: 5px solid rgba(255,255,255,0);
    z-index: 10;
}

div.loading{
    position: absolute;
    background: rgba(0,0,0,0.7);
    /*animation-timing-function: linear;*/
    animation-iteration-count: infinite;
    animation-play-state: paused; /*paused*/
    /*animation-direction: reverse;*/ /*alternate*/
}

div#smallBall.loading {
    bottom: 20px; left: 20px;
    width: 7px;
    height: 7px;

    animation-name: smallRound;
    animation-duration: 0.3s;
    animation-delay: 0s;
}

div#bigBall.loading {
    bottom: 18px; left: 18px;
    width: 11px;
    height: 11px;

    animation-name: bigRound;
    animation-duration: 0.32s;
    animation-delay: 0.15s;
}

@keyframes smallRound {
    0%   {left:2px;bottom:2px;}
    25%  {left:2px;bottom:22px;}
    50%  {left:22px;bottom:22px;}
    75%  {left:22px;bottom:2px;}
    100% {left:2px;bottom:2px;}
}

@keyframes bigRound {
    0%   {left:0px;bottom:0px;}
    25%  {left:0px;bottom:20px;}
    50%  {left:20px;bottom:20px;}
    75%  {left:20px;bottom:0px;}
    100% {left:0px;bottom:0px;}
}