body{
	background-color:#444;
}
body, button, input{
	/*font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;*/
	font-family: "Nimbus Sans L",sans-serif,Tahoma, Geneva;
	margin:0;
	overflow: hidden;
}
.tab{
	height:100vh; width:100%;
	position:relative;
	margin:0; padding:0;
	text-align:center;
	background-attachment: fixed;
	/*background-repeat: no-repeat;
	background-size: 100%;*/
}
#logintab{
	/*background: linear-gradient(to left, violet, orangered);*/
	background-image: url("../imgs/back.jpg");
	background-position: center bottom;
}
#registertab{
	/*background: linear-gradient(to left, cyan, yellowgreen);*/
	background-image: url("../imgs/back.jpg");
	margin-top: 25px;
	background-position: center top;
}
#dialog, #r_dialog{
	position:absolute;
	margin:auto;top:0;bottom:100px;left:0;right:0;
	width: 255px; height: 155px;
	padding-bottom:5px;

	background-color:#fff;
	border: 2px solid #000;
}
#r_dialog{
	top:70px; bottom:200px;
	height:250px;
}
#dialog table , #r_dialog table {
	border-spacing: 0;
	width:100%;height:100%;text-align:center;
}
#dialog table th , #r_dialog table th {
	background-color: #000;
	color: #fff;
	font-weight: bold;
	padding: 5px 0;
}
#dialog table td , #r_dialog table td {
	margin:0;
}
h1,h2{
	margin:0;
}
h1{
    animation-name: goup;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes goup {
    0%   {margin-bottom:-5px;}
		50% {padding-top:1px;}
    100% {margin-bottom:-10px;}
}

button::-moz-focus-inner { border:0; }
button{
	font-size: 15px;
	margin: 0 10px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #777;
}

button:hover{ background-color: #eaeaea; }
button:focus{ background-color: #bfd2e5; }
button:active{ background-color: #7eb4ea; }

input[type=password], input[type=text]{
	border: 1px solid #abadb3;
	padding:2px;
}
input[type=password]:hover, input[type=text]:hover{
	border-color: #7eb4ea;
}
input[type=password]:focus, input[type=text]:focus{
	border-color: #7a7c80;
}




