/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
/*
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/opensans.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(fonts/montserrat.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(fonts/notosans.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/roboto.woff) format('woff');
}*/
/* END FONTS */


body{
	/*background-color:#444;*/
	background: linear-gradient(to top, #111,#111,#222,#111,#111);
	height:100vh;
}
body, button, input{
	/*font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;*/
	font-family: "Open Sans","Nimbus Sans L",sans-serif,Tahoma, Geneva;
	margin:0;
	overflow: hidden;
}
.tab {
	display:inline-block;
	position:absolute;
	height:100vh;
	width:100vw;

	transition: left 0.5s, right 0.5s, opacity 0.2s 0.2s, visibility 0s 0s;
}
#logintab{ right:0%; }
#registertab{ left:0%; }

#registertab.hidden{
	transition-delay: 0s, 0s, 0.1s, 0.5s;
	left: 20%;
	opacity: 0;
	visibility:hidden;
}
#logintab.hidden{
	transition-delay: 0s, 0s, 0.1s, 0.5s;
	right: 20%;
	opacity: 0;
	visibility:hidden;
}

#dialog,#r_dialog{
	position:absolute;
	width: 270px;

	right:0;left:0;
	bottom:70px; top:0; margin: auto;
	box-shadow: 0px 0px 40px -10px white;/*,inset 0px 0px 10px -5px black;*/
	background-color: #ddd;
	padding: 15px 0;
}

#dialog{
	height:172px;
}

#r_dialog{
	height:271px;
}

table {
	border-spacing: 0;
	width:0;height:100%;text-align:left;
	padding-left:20px;
}
th {
	padding: 5px 0;
	font-family: "Noto sans";
	font-size:15px;
}
td {
	padding: 4px;
}

button::-moz-focus-inner { border:0; }
button{
	font-size: small;
	margin: 5px 10px 0;
	padding: 5px 10px;
	border: 1px solid #777;
}

button:hover{ background-color: #eaeaea; }
button:focus{ background-color: #bfd2e5; }
button:active{ background-color: #7eb4ea; }

input[type=password], input[type=text]{
	border: 1px solid #abadb3;
	padding:2px;
}
input[type=password]:hover, input[type=text]:hover{
	border-color: #7eb4ea;
}
input[type=password]:focus, input[type=text]:focus{
	border-color: #7a7c80;
}

