body {
    font-size: small;
    font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;
    margin: 0;

    background-image: url("../imgs/back.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #444;
    overflow-y: scroll;
}


h3,h2,p,td,th{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;

    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  	margin: 0; padding: 0;
}
button::-moz-focus-inner {
   border: 0;
}
:focus{
    outline:0;
}

#extrabuttons{
	position:fixed;
	top:0; left:0;
}

#extrabuttons button, #extrabuttons a{
	font-family: "Verdana","Trebuchet MS",Tahoma,sans-serif;
	font-size: 11.5px;
	font-weight: bold;
	text-decoration: none;
	display:block;

	background-color: rgba(0,0,0,0.5);
	color:white;

	width: 110px;
	text-align: right;
	padding: 6px 6px 6px 12px;
	margin: 2px 0 4px 4px;

	border: 2px solid #000;
	transition: padding 0.2s;
}

#extrabuttons button{
	width: 132px;
}

#extrabuttons button:hover, #extrabuttons a:hover{
	background-color: rgba(0,0,0,0.8);
	padding: 6px 12px 6px 6px;
}

#extrabuttons button:active, #extrabuttons a:active{
	background-color: #000;
	padding: 6px 18px 6px 0px;
}

#content_folders, #content_tags{
	position: relative;
	width: 700px;
	margin: 0 auto 0 auto;

	border: solid #000;
	border-width: 0 2px 2px;
	height: 100%;

	opacity:1;
	transition: opacity 0.3s, margin 0.3s;
}

#content_tags{
	display:none;
	/*position: absolute;*/
	top: 0; right: 0; left:0;
}

#content_folders.disabled{
	opacity:0;
	margin-top:-100px;
}

#content_tags.disabled{
	opacity:0;
	margin-top:-100px;
}

#header{
	padding: 20px 30px;
	background-color: rgba(0,0,0,0.5);
	height: 22px;

	cursor: pointer;
	font-variant: small-caps;
	transition: padding 0.3s, background-color 0.7s;
}

#header *{
	height: 100%;
}

#header:hover{
	padding: 20px 20px 20px 40px;
	background-color: rgba(0,0,0,0.8);
}

#header h2{
	margin: 0; padding: 0; color: white;
}

/* folders */
p.disabled{
	color: #f00;
}

#folder_list, #tag_list{
	border-top: 2px solid #000;
	border-left: 22px solid #000;
	background-color: #fff;
}

#tag_list .tag{
	padding: 5px 20px;
	position: relative;
	font-size: 12px;
	cursor:pointer;
	transition: background-color 0.5s, color 0.5s;
}

#tag_list .tag h3{
	padding: 3px 10px;
	transition: background-color 0.5s, color 0.5s, padding-left 0.3s;
}

#tag_list .tag h3.hidden{
	background-color: #e4e4e4;
	color: #444;
}

#tag_list .tag:hover, #tag_list .tag:hover h3.hidden{
	background-color: #555;
	color:#fff;

}

#tag_list .tag:hover h3{
	padding-left: 20px;	
}

#folder_list .folder{
	padding: 10px 20px;
	transition: background-color 1s;
	border-bottom: 1px dotted #888;
}

.folder h3, .feed p{
	transition: background-color 0.5s;
}

.folder h3{
	margin: 0;
	padding: 10px;
}

.folder h3.hidden{
	background-color: #e4e4e4;
	color:#444;
}

.folder h3.nullFolder{
	color:#888;
	background-color: #f5f5f5;
	font-weight: normal;
}

.folder h3:hover, .feed p:hover{
	cursor: pointer;
	background-color: #ddd;
}

.feed p{
	font-size: 12.5px;
	margin: 0 10px;
	padding: 5px 10px;
}

/* user dialog */
#user_list, #login_hidden{
	display: none;
	position: fixed;
	top:0; left:0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);

	z-index: 10;
}

#user_table_content {
	position: absolute;
	width: 300px;
	height: 50%;
	margin: auto;
	right: 0; left: 0; top: 0; bottom: 0;
	background-color: #fff;

	border: 2px solid #000;
}

#login_hidden_content {
	position: absolute;
	width: 340px;
	margin: auto;
	right: 0; left: 0; top: 0; bottom: 0;
	background-color: #fff;
	text-align:center;

	height: 140px;
	border: 2px solid #000;
}

#user_table_content table, #login_hidden_content table{
	width: 100%;
	border-spacing: 0;
	margin: 0;padding: 0;
}

#user_table_content th{
	padding: 10px;
	border-bottom: 1px solid #000;
}

#login_hidden_content th{
	padding: 10px;
	background-color: #000;
	color: white;
	font-weight: bold;
}

#login_hidden_content td{
	padding: 10px 0px;
}

#user_table_content td{
	padding: 10px 20px;
	transition: padding 0.3s;
}

#user_table_content td:hover{
	cursor: pointer;
	padding: 10px 0px 10px 40px;

	background-color: #000;
	font-weight: bold;
	color: #fff;
}

#user_table_content td:active{
	padding-left: 60px;
}


/* inside dialogs */
.inside_dialog{
	position:absolute;
	right:-2px;
	bottom:0;
	width:0;
	top:164px;
	height: 250px;
	border: solid #000;
	border-width: 2px 2px 2px 24px;
	z-index:2;
	transition: width 0.2s, opacity 0.3s;
	opacity: 0;
	overflow: hidden;
}

.inside_dialog.active{
	width: 678px;
	opacity: 1;
}

.dialog_container{
	width: 700px;
}

.inside_dialog h3{
	text-align: center;
	padding: 10px 0;
	border-bottom: 2px solid #000;
	background-color: #fff;
	width:100%;
}

.inside_dialog .message{
	width: 500px;
	margin: 10px auto 0;
}

.inside_dialog .message table{
	width:100%;
	margin: 0 auto;
}

.inside_dialog .dialog_buttons{
	margin: 10px 30px 0;
	text-align: center;
}

.dialog_buttons button{
	font-size: 15px;
	margin: 0 10px;
	padding: 5px;
	border: 2px solid #000;
}


#confdel_feed, #confdel_tag {
	height: 140px;
	background-color: rgba(190,0,0,0.9);
	font-weight: bold;
}

#confdel_folder{
	background-color: rgba(90,0,0,0.9);
	height: 160px;
	font-weight: bold;
}

#confdel_folder h3{
	color:white;
	background-color: rgb(190,0,0);
}

#confdel_folder .message, #confdel_feed .message, #confdel_tag .message{
	color:white;
}

#confadd_feed, #add_folder{
	height: 210px;
	background-color: #deffad;
}

#clean_folder, #clean_feed, #editTag{
	background-color: #aaa;
}

#editTag{
	height: 170px;
}

#clean_feed{
	height: 380px;
}

#clean_folder{
	height: 300px;
}


.counter{
	color:#999;
}

.showHiddenButton.set{
	background-color:rgba(200,0,0,0.8)!important;
}

#tools_folder, #tools_feed, #tools_tag{
	background-color: #eee;
	height: 200px;
}

#tools_folder span, #tools_feed span, #tools_tag span{
	display:inline-table;
	padding: auto;
}

#tools_folder .message, #tools_feed .message, #tools_tag .message{
	text-align:center;
	width: 100%;
}

#tools_folder button, #tools_feed button, #tools_tag button {
    width:105px;
    height:105px;
    background-color: initial;
    border-width: 0;
    margin: 0 20px;
    transition: background-color 0.3s
}

#tools_folder button:hover, #tools_feed button:hover, #tools_tag button:hover{
	background-color: #ddd;

}

button.optionsIcon{
    background-image: url("../imgs/opts.png");
}

button.addIcon{
    background-image: url("../imgs/add.png");
}

button.deleteIcon{
    background-image: url("../imgs/del.png");
}

button.backIcon{
    background-image: url("../imgs/goback.png");
}

#goLink a,#goRss a{
	font-size:18px;
	text-decoration: none;
}

#goLink a:hover,#goRss a:hover{
	text-decoration: underline;
	font-weight: bold;
}

#goLink a:visited,#goRss a:visited{
	color:blue;
} 