/* COMMON */

body {
    font-size: small;
    font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;
    margin: 0;

    /*background-image: url("../imgs/back.jpg");*/
    background-attachment: fixed;
    /*background-size: 100% 100%;*/
    background-color: #F5F5F5;

    overflow-y: scroll;
}

.title-bg{
	position:relative;
	width: 850px;
	margin:auto;
	border: solid #7E7E7E;
	border-width: 0 0 1px;
	/*box-shadow: 0px -9px 10px -12px black;*/
}

.title-bg a{ text-decoration:none;}
.title-bg a:hover{ text-decoration:underline;}

.post-title, .post-date{
	font-family: Tahoma,Geneva,sans-serif;
	margin:0 10px; padding:0;
	font-weight: bold;
}
.post-title{
overflow: hidden;
white-space: nowrap;
	padding: 3px 0;
	color:white;
	font-size:small;
}
.post-title a{
	color:#6E6E6E;
	display:block;
}

.post-date{
	padding: 0 0 3px;
	color:#888;
	font-size:9px;
}
.post-date a{
	color:#888;
}

.description{
	position: relative;
	background-color: #fff;
	/*margin-top: 11px;*/
	margin-bottom: 27px;
	outline: 1px solid rgba(0,0,0,0.5);

	padding: 20px 50px 30px;
	text-align: left;
	box-shadow: 0px 9px 10px -12px black;
}

.space-used{
	max-width:850px;
	margin-right:auto;
	margin-left:auto;
}

/* POST */

#top-bars a{
	transition: padding 0.2s, color 1s;
	display:block;
}

#feed-bar{
	background-color: #444;
	text-align: left;
	font-weight: bolder;
}

#feed-bar a{
	text-decoration: none;
	color: white;
	padding: 14px 30px;
	font-size: 20px;
}

#feed-bar a:hover{
	padding: 14px 20px 14px 40px;
	color: #777;
}

#tags{
	display:inline;
	float:right;
}

#tags p{
	font-weight: normal;
	font-size: 11px;
	margin-right: 5px;
}

/* TAGS */

#navigation-bar{
	cursor:pointer;
	position:fixed;
	top:0; bottom:0; left:0;
	width:1px;
	transition: width 0.3s, opacity 0s 0.3s;
	z-index:3;
	opacity:0;
	background-color:#bfbfbf;
	box-shadow: inset -5px 0 5px -7px black;
}

#navigation-bar:hover{
	transition-delay: 0s;
	opacity:1;
	width:20px;
}

#tag-content{
	transition: margin 0.3s;
}
#navigation-bar:hover ~ #tag-content {
   	margin-left:20px;
}