body {
    font-size: small;
    font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;
    margin: 0;

    background-image: url("../imgs/back.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;

    overflow-y: scroll;
}
button::-moz-focus-inner {
   border: 0;
}
:focus{
    outline:0;
}

#page {
	display:none;
	position:relative;
	background-color: rgba(255,255,255,0.8);
	margin: auto;
	width:1300px;
	overflow:hidden;
}

#lateral_menu{
	position:fixed;
	top:0; bottom:0;

	background-color: #fff;
	padding: 10px;
	width: 300px;
	float:left;
	font-size: 12.5px;
	transition: margin-left 0.4s;
	overflow-y: auto;
}

#content{
	position:relative;
	margin-left: 322px;
	padding: 20px;
	transition: margin 0.4s;
}

#actions_panel{
	/*position:absolute;
	right:0; left:0; top:0;*/
	background-color: rgba(0,255,0,0.4);
	height: 32px;
	text-align:right;
}

#options_panel{
	background-color: #000;
	padding-bottom: 15px;
	margin: -10px -10px 10px;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0;
}







.folder {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted rgba(0,0,0,0.5);
	cursor:pointer;
	overflow:hidden;
}

.folder .feed{
	margin-left: 10px;
}

.folderfeeds{
	display: none;
}

.feed, .tag{
	cursor:pointer;
	color: #333;
	padding: 2px 5px;
}

.feed:hover, .tag:hover{
	background-color: #ddd;
}

.feed.unread{
	font-weight:bold;
}

.feed .count, .folder .count{
	color: #777;
	font-weight: bold;
}

.tag .count{
	color: #777;
}

.folderHeader{
	display:inherit;
	font-size: 14px;
	font-weight:bold;
	width: 100%;
}

.folderHeader:hover{
	background-color: #aaa;
}

.folderTitle{
	transition: margin 0.3s;
}
.folder:hover .folderTitle{
	margin-left: 5px;
}

.expander{
	display: inline-table;
	text-align: center;
	background-color: rgba(0,0,0,0.0);
	margin: 1px 5px 1px 1px;
	padding: 2px 6px;
	font-size: 13.5px;
	border-width: 0;
	width: 30px;
	background-color: #fff;
	border: 1px solid #fff;
}

.expander:hover{
	background-color: #eee;
	border-color: #ddd;
}

#tags{
	border-top: 2px solid #888;
	padding-top: 10px;
	margin-top: 10px;
}

#options_panel a, #options_panel button{
    font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;
	background-color: #555;
	padding: 5px;
	border: 2px solid black;
	color: white;
	font-weight: bold;
	text-decoration: none;
	cursor:pointer;
	font-size: 13px;
	transition: border-color 0.2s,background-color 0.3s;
}

#options_panel a:hover, #options_panel button:hover{
	border-color: #888;
	background-color: #888;
}

#options_panel a:active,
#options_panel button:active{
	border-color: #e6bb7b;
	background-color: #e6bb7b;
}
