body {
    font-size: small;
    font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;
    margin: 0;

    background-image: url("../imgs/back2.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
  	/*background-blend-mode: color-burn;
    background-color:#f00;*/
    overflow-y: scroll;
}
button::-moz-focus-inner {
   border: 0;
}
:focus{
    outline:0;
}

#page {
	display:none;
	position:relative;
	background-color: rgba(255,255,255,0.9);
	margin: auto 40px;

	overflow:hidden;
}

#lateral_menu{
	position:fixed;
	top:0; bottom:0;

	background-color: #fff;
	padding: 10px;
	width: 300px;
	float:left;
	font-size: 12.5px;
	transition: margin-left 0.4s, border 0.4s;
	border-right: 0px solid #000;
}

#lateral_menu.hidden{
	border-right-width: 40px;
}

#content{
	position:relative;
	margin-left: 320px;
	padding: 0px;
	transition: margin 0.4s;
}

#actions_panel{
	z-index: 1;
	position:absolute;
	top:0; right:0;
	margin: 0;
	padding: 0;
	border-width: 0 0 2px 2px;

	font-size: 10px;
	font-weight: bold;

	width: 200px;

	opacity:0.6;
	transition:opacity 0.4s;
}

#actions_panel.disabled:hover{
	opacity:0;
}

#actions_panel.disabled{
	opacity:0;
}

#actions_panel:hover{
	opacity:0.9;
	transition-delay:0s;
}

#control_panel{
	text-align: right;
	padding: 7px 10px;
}

#tagList{
	display:none;
	text-align: right;
}

#actions_panel:hover #tagList{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

#navopts_top{
	background-color: #000;
	text-align: center;
	height: 30px;
	margin: -10px -10px 10px;
	padding: 10px 0;
}

#navopts_bottom{
	position:absolute;
	bottom:0;
	width:100%;
	background-color: #000;
	text-align: center;
	height: 30px;
	margin: 0 -10px;
	padding: 10px 0;
}


#navigation_panel{
	position:absolute;
	overflow-y: auto;
	padding-top: 10px;
	top:50px; bottom: 50px;
	left: 10px; right:10px;
}


/*############################################################################################################
LATERAL MENU FOLDER STYLES
##############################################################################################################
############################################################################################################*/

.folder {
	padding: 5px;
	border-bottom: 1px dotted rgba(0,0,0,0.5);
	cursor:pointer;
	overflow:hidden;
}

.folder .feed{
	margin-left: 10px;
}

.folderfeeds{
	display: none;
}

.feed, .tag{
	cursor:pointer;
	color: #333;
	padding: 2px 5px;
}

.tag{
	margin: 1px;
	display: inline-block;
}

#tags{
	border-top: 2px solid #888;
	padding-top: 10px;
	margin-top: 10px;
}

.tag.hidden{
	background-color: #eee;
	color: #444;
}

.feed:hover, .tag:hover{
	background-color: #ddd;
}

.feed.selected, .tag.selected, .folder.selected{
	background-color: #addeff;
}

.feed.unread{
	font-weight:bold;
}

.feed .count, .folder .count{
	color: #777;
	font-weight: bold;
}

.tag .count{
	color: #777;
}

.count.hidden{
	display:none;
}

.folderHeader{
	display:inherit;
	font-size: 14px;
	font-weight:bold;
	width: 100%;
}

.folderHeader.hidden .folderTitle{
	background-color: #eee;
	color: #777;
	padding: 2px 4px 1px;
}


.folder.selected .folderHeader.hidden .folderTitle{
	background-color: initial;
}

.folderHeader.hidden:hover .folderTitle{
	background-color: unset;
	color: #777;
	padding: 2px 4px 1px;
}

.folderHeader:hover{
	background-color: #aaa;
}

.folderTitle{
	transition: margin 0.3s;
}
.folder:hover .folderTitle{
	margin-left: 5px;
}

.expander{
	display: inline-table;
	text-align: center;
	background-color: rgba(0,0,0,0.0);
	margin: 1px 5px 1px 1px;
	padding: 2px 6px;
	font-size: 13.5px;
	border-width: 0;
	width: 30px;
	background-color: #fff;
	border: 1px solid #fff;
}

.expander:hover{
	background-color: #eee;
	border-color: #ddd;
}


.options_panel a, .options_panel button{
    font-family: "Segoe UI",dejavu sans,"Verdana","Trebuchet MS",Tahoma,sans-serif;
	background-color: #555;
	padding: 5px;
	border: 2px solid black;
	color: white;
	font-weight: bold;
	text-decoration: none;
	cursor:pointer;
	font-size: 13px;
	transition: border-color 0.2s,background-color 0.3s;
}


.options_panel a:hover, .options_panel button:hover{
	border-color: #404040;
	background-color: #404040;
}

.options_panel a:active,
.options_panel button:active{
	border-color: #e67b7b;
	background-color: #e67b7b;
}

.options_panel a.disabled,
.options_panel button:disabled{
	color: #333;
}
.options_panel a.disabled:hover,
.options_panel button:disabled:hover{
	background-color: #555;
	border: 2px solid black;
} 

.options_panel .marked{
	background-color: #AAA;
		border-color: #AAA;
	transition: border-color 0.2s,background-color 0.3s;
}

.options_panel .marked:hover{
	border-color: black;
	background-color: #888;
}

.options_panel .marked:active{
	border-color: black;
	background-color: #652020;
}


/*############################################################################################################
POSTS
##############################################################################################################
############################################################################################################*/

#posts_panel{
	padding-top: 0px;
	margin: 0;
}
/*
.post{
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6))!important;
}*/

.post .header{
	position:relative;
	border: solid transparent;
	border-width: 1px 0 2px;
	height: 38px;
	background-color: rgba(60,60,60,0.2);
}

.post.selected .header{
	border-color: rgba(0,0,0,0.5);
}
	
.post.unread .header{
	background-color: rgba(255,255,255,0.7);
}

.post .title{
	position:absolute;
	top: 4px;
	left:15px; right: 110px;
	overflow:hidden;
}

.post .subtitle{
	position:absolute;
	top: 22px;
	left:15px; right: 300px;
	overflow:hidden;
	font-size: 9px;
}

.post .header a{
	color: #333;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
}

.post .header a:hover{
	color: #000;
	text-decoration: underline
}

.post .header .subtitle{
	color: #555;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
}

.post .description{
    background-image: url("../imgs/backPosts.png");
    background-repeat: repeat-x;

	/*margin: 25px 25px 0px;
	padding-bottom:50px;*/
	padding: 25px 25px 50px;
	overflow-x: auto;
}



/*############################################################################################################
PAGES
##############################################################################################################
############################################################################################################*/

#pages {
	display: inline-block;
	margin-top: 5px;
	color:white;
}

#pages #totalPages{
	font-weight: bold;
}

/*###########################################################################################################
Tags
##############################################################################################################
############################################################################################################*/

#add_tag{
	display: none;
	position: fixed;
	top:0; left:0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);

	z-index: 10;
}

#add_tag .taglist{
	padding: 10px 40px;
}

#add_tag .taglist p{
	display: inline-block;
	padding: 0px 3px;
	margin: 0 1px 1px 0;
}

#add_tag .taglist p:hover{
	cursor:pointer;
	background-color: #f4f4f4;
}

#add_tag .taglist p.selected{
	background-color: #ddd;
}

#add_tag .taglist p.hiddenTag{
	color: rgba(0,0,0,0.4);
}

#add_tag_content {
	position: absolute;
	width: 340px;
	margin: auto;
	right: 0; left: 0; top: 30%;
	background-color: #fff;
	text-align:center;

	border: 2px solid #000;
}

#add_tag_content table{
	width: 100%;
	border-spacing: 0;
	margin: 0;padding: 0;
}
#add_tag_content th{
	padding: 10px;
	background-color: #000;
	color: white;
	font-weight: bold;
}
#add_tag_content td{
	padding: 10px 0px;
}

/*###########################################################################################################
CONTROL PANEL
##############################################################################################################
############################################################################################################*/


#actions_panel button{
	width: 25px;
	height: 25px;
	border: 0px;
	background-size: 100% 100%;
	background-color: transparent;
	transition: background-color 0.3s;
}

#control_panel button{
	margin: 0 3px;
}

#actions_panel button:disabled{
	opacity: 0.5;
}

#actions_panel button:hover{
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

#control_panel button.addTag{
	background-image: url("../imgs/addTag.png");
}

#control_panel button.setUnread{
	background-image: url("../imgs/read.png");
}

#control_panel button.setUnread.unread{
	background-image: url("../imgs/unread.png");
}

#control_panel button.setFav{
	background-image: url("../imgs/starOff.png");
}

#control_panel button.setFav.fav{
	background-image: url("../imgs/starOn.png");
}

div.tagname button{	
	background-image: url("../imgs/remTag.png");
}

#tagList .tagname{
	margin: 10px 10px;
}

#tagList .tagname button{
	margin-left: 10px;
	vertical-align: middle;
}

.post.minimized .description{
	display:none;
}

.post.minimized .header{
	border-color: rgba(0,0,0,0.5);
	border-width: 0 0 1px;
	border-style:dotted;
}

#mouse_nav{
	z-index:2;
	position:fixed;
	width:100%;
	background-color: transparent;
	border: 0px;
	bottom: 0; right: 0; left: 0;
	height: 1px;
}

#mouse_nav:hover{
	cursor:pointer;
	background-color: black;
	height: 16px;
}

#top_message{
	position:fixed;
	top:-50px;left:0;right:0;
	/*background-color: rgba(250,50,0,0.9);*/
	background-color: rgba(230,46,0,0.9);
	border-bottom: 2px solid #000;
	transition: top 0.4s;
}

#top_message.good{
	/*background-color: rgba(153,250,0,0.9);*/
	background-color: rgba(145,212,0,0.9);
}

#top_message p{
	text-align: center;
	color:white;
	font-weight: bold;
	font-size: 14px;
}
