div#loading_icon {
    position: relative;
    display: none;
    width: 5px;
    height: 5px;
    background: #222;

    animation-name: myfirst;
    animation-duration: 0.16s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-direction: alternate;
}

@keyframes myfirst {
    0%   {left:0px;}
    100% {left:40px;}
}